<div class="row flex-fill d-flex h-100">
	<div class="flex-fill d-flex col-md-9" >
		<div class="row flex-fill">
			<div class="col-md-1" style="background-color:#fff2da"> 
				<br><br><br><br><br><br><br><br>
				<p style="text-orientation:upright;writing-mode: vertical-lr;text-align: center;vertical-align: middle;"> 
				                        	T  i  m  e  l  i  n  e
				</p>
			</div>
			<div class="col-md-11" style="overflow-y:scroll;background-color: #daffdf">
				<br>Here will be the short texts to be coded with a timeline on the left
			</div>
		</div>
	</div>
	<div class="flex-fill d-flex col-md-3" style=" overflow-y:scroll; background-color: #DAf3FF">
		<br>Here will be the labels to code the data
	</div>
</div>