<div class="row flex-fill d-flex h-100">
	<div class="flex-fill d-flex col-md-9" style="overflow-y:scroll;">
		<br>Here will be the short texts to be coded with a timeline on the left

	</div>
	<div class="flex-fill d-flex col-md-3" style=" overflow-y:scroll;">
		<br>Here will be the labels to code the data
	</div>
</div>