/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

 @import "bootstrap";

@import "feathericon";
 @import "fileinput";
@import "jquery-ui";


span.twitter-typeahead{
  width: 100%
}

.modal-open{
	padding-right: 0 !important;
}

.tt-hint {
	color: #999;
}

.valence-positive-hover, .valence-positive-selected{
	color: limegreen;
}

.valence-neutral-hover, .valence-neutral-selected{
	color: gold;
}

.valence-negative-hover, .valence-negative-selected{
	color: red;
}

.valence-unknown-hover, .valence-unknown-selected{
	color: blue;
}

.valence-none-selected{
	color: #b8b8b8;
}

body{
	padding-top: 47px;
	height: 100%;
}

html {
  height: 100%;
}

